*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.hero p {
  color: #fff;
  font-size: 100px;
}
.hero strong {
  font-weight: 700;
}

.about-1 {
  color: #fff;
}
.about-1 h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin: 49px;
}
.about-1 p {
  font-size: 18px;
  line-height: 1.5;
}

.about-2 h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin: 49px;
}
.about-2 p {
  font-size: 18px;
  line-height: 1.5;
}

.about-3 {
  color: #686963;
}
.about-3 h2 {
  color: white;
  font-size: 100px;
  background-color: #E56353;
  font-weight: 700;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 50px;
}
.about-3 h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin: 49px;
}
.about-3 p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 45px;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-snap-type: y mandatory;
}

nav {
  background-color: #fff;
  height: 117px;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

nav img {
  height: 80px;
}

footer {
  background-color: #686963;
  height: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  height: 128px;
}

.hero {
  height: calc(100vh - 117px);
  background-color: #E56353;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}
.hero p {
  text-align: center;
}

.about-1 {
  background-color: #91918D;
  height: 100vh;
  scroll-snap-align: start;
}
.about-1__container__text {
  max-width: 821px;
  margin-left: auto;
  margin-right: auto;
}
.about-1__container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.about-1__container img {
  width: 100%;
  max-width: 1400px;
  max-height: 570px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
}
.about-1__container p {
  display: block;
}

.about-2 {
  scroll-snap-align: start;
  background-color: #fff;
  height: 100vh;
}
.about-2__container__text {
  max-width: 821px;
  margin-left: auto;
  margin-right: auto;
}
.about-2__container {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-2__container img {
  object-fit: cover;
  width: 100%;
  max-width: 1400px;
  max-height: 570px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.about-2__container p {
  display: block;
}

.about-3 {
  scroll-snap-align: start;
}
.about-3 img {
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.about-3 p {
  max-width: 821px;
  margin-left: auto;
  margin-right: auto;
}

.wholesaler {
  color: white;
  font-size: 50px;
  background-color: #E56353;
  font-weight: 700;
  text-align: center;
  padding: 60px;
}
.wholesaler a {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #686963;
  display: inline-block;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 50px;
  padding: 14px 99px;
}

/*# sourceMappingURL=style.css.map */
