html{
    scroll-behavior: smooth;

}
body{
    scroll-snap-type: y mandatory;
}

nav{
    background-color: $white;
    height: 117px;
    display: flex;
    align-items: center;
    margin-left: 5%;
}
nav img{
    height: 80px;
}