.hero{
    height: calc(100vh - 117px);
    background-color: $jean-bean;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        text-align: center;
    }
}
.about-1{
    background-color: $granite-gray;

    &__container__text{
        width: 821px;
        margin-left: auto;
        margin-right: auto;
    }
    &__container { 
        position: relative;
        padding-top: 120px;
        padding-bottom: 120px;
    
        img {
            width: 1400px;
            height: 570px;
            display: block;
            margin-right: auto;
            margin-left: auto;
            object-fit: cover;
        }

    p{
        display: block;
    }
}   
}
.about-2{
    background-color: $white;
    &__container__text{
        width: 821px;
        margin-left: auto;
        margin-right: auto;
    }
    &__container { 
        position: relative;
        padding-top: 120px;
        padding-bottom: 120px;
    
        img {
            object-fit: cover;
            width: 1400px;
            height: 570px;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

    p{
        display: block;
    }

}
}